.roboto-font {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.roboto-bold {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
  
.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}  

body {
    background: #350A0E;
    /* width: 1440px;
    height: 1024px; */
}

.circle-1 {
    border-radius: 513px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(251, 188, 5, 0.50) 0%, #FBBC05 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    filter: blur(50px);
    width: 513px;
    height: 494px;
    flex-shrink: 0;
}

.login-container {
    text-align: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.25);
    width: 660px;
    height: 467px;
    color: white;
}

.forgot-button {
    text-decoration: none;
    color: #fff
}

.social-login {
    display: flex;
    justify-content: center;
}

.social-icon {
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 50px;
    border: none;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-register {
    text-decoration: none;
    color: #E1BB3E;
    font-weight: bold;
}